@import "../../../scss/functions";
@import "../../../scss/variables";
@import "../../../scss/placeholder";

.fallback {
  @extend %fca;
  color: $textColor;

  img {
    width: rem(450);
    object-fit: contain;
  }

  p {
    font-size: rem(14);
  }
}
