@import "../../../scss/functions";
@import "../../../scss/placeholder";

.shimmer {
  border-radius: rem(8);
  max-width: rem(600);
  height: rem(120);
  padding: 0;
  margin: 0;

  &__wrapper {
    @extend %fra;
    padding: 0;
    margin: 0;
    animation: fullView 0.5s forwards linear;

    @keyframes fullView {
      100% {
        width: 100%;
      }
    }
  }

  &__image {
    height: rem(90);
    width: rem(90);
    border-radius: rem(5);
    margin-block: rem(10);
  }

  &__detail {
    height: rem(12);
    background: #777;
    width: rem(150);
    margin: rem(20) rem(15);
    border-radius: rem(5);
  }

  .animate {
    animation: shimmer 2s infinite;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f4 36%);
    background-size: rem(1000) 100%;
  }

  @keyframes shimmer {
    0% {
      background-position: rem(-1000) 0;
    }
    100% {
      background-position: rem(1000) 0;
    }
  }
}
