@import "../../scss//placeholder";

.cart {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 10px;
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
