@import "../../scss//placeholder";

.cart {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
