@import "../../scss/variables";

.productListing {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__filter {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__product {
    width: 100%;
  }

  h3 {
    text-transform: uppercase;
    letter-spacing: 0.7px;
    color: $textColor;
  }
}
