@import "../../../../scss/functions";
@import "../../../../scss/placeholder";
@import "../../../../scss/variables";

.latestProduct {
  @extend %fra;
  cursor: pointer;
  position: relative;

  img {
    height: rem(100);
    width: rem(100);
    margin-right: rem(15);
    transform: scale(1);
    transition: all 0.4s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__details {
    display: flex;
    flex-direction: column;

    h5 {
      margin: 0;
      padding: 0;
      font-size: rem(16);
      margin-bottom: rem(5);

      &:hover {
        color: lighten($primaryColor, 5%);
      }
    }

    p {
      margin: 0;
      padding: 0;
      font-size: rem(15);
      font-weight: 500;

      s {
        font-size: rem(12);
        font-weight: 500;
        color: $textColor;
      }

      span {
        color: lighten($primaryColor, 5%);
        font-weight: 600;
      }
    }
  }

  &__icon {
    position: absolute;
    padding: rem(7) rem(15);
    background-color: lighten($primaryColor, 7%);
    right: 0;
    bottom: 0;
    color: $lightColor;
    cursor: pointer;
    font-size: small;
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }

  &:hover {
    .latestProduct__icon {
    }
  }
}
