@import "../../../scss/variables";
@import "../../../scss/functions";
@import "../../../scss/placeholder";

.icon__row {
  padding: rem(15);
  justify-content: space-between;
}

@media (max-width: 575.98px) {
  .icon {
    &__row {
      div {
        margin-block: rem(10);
      }
    }
  }
}
