@import "../../../scss/functions";
@import "../../../scss/variables";
@import "../../../scss/placeholder";

.fallbackCart {
  @extend %fca;

  img {
    width: rem(450);
    object-fit: contain;
    margin-bottom: rem(30);
  }

  h2 {
    margin-bottom: rem(30);
  }
}

@media (max-width: 575.98px) {
  .fallbackCart {
    img {
      width: rem(250);
      object-fit: contain;
      margin-bottom: rem(20);
    }

    h2 {
      margin-bottom: rem(20);
    }
  }
}
