@import "../../scss/variables";
@import "../../scss/functions";
@import "../../scss/placeholder";

.footer {
  margin-top: auto;

  &__top {
    background: lighten($accentColor,72%);
    padding: rem(40) 0;
  }

  &__column {
    @extend %d-flex;
    flex-direction: column;
    font-size: rem(14);
  }

  &__title {
    font-size: rem(16);
    margin-bottom: rem(20);
    text-transform: uppercase;
    position: relative;
    &::before {
      background: lighten($accentColor, 10%);
      height: rem(2);
      width: rem(40);
      content: "";
      position: absolute;
      bottom: rem(-5);
      left: 0;
    }
  }

  &_links {
    display: flex;
    flex-direction: column;
    line-height: 2.5;
    font-size: rem(14);

    a {
      color: $textColor;
      text-transform: uppercase;

      &:hover {
        color: $primaryColor;
      }
    }
  }

  &__bottom {
    background: $accentColor;
    color: set-textcolor($accentColor);
    padding-block: rem(16);
    @extend %text-center;
  }

  &__logo,
  &__item{
    margin-bottom: rem(16);
  }

  &__list{
    @extend %d-flex;
    flex-direction: column;
  }

  &__item{
    @extend %d-flex;
    align-items: center;

    svg{
      margin-right: rem(10);
    }
  }
}
