@import "../../scss/functions";
@import "../../scss/placeholder";
@import "../../scss/variables";

.filters {
  @extend %fca;
  line-height: 2;
  cursor: pointer;
  margin-inline: rem(15);

  img {
    width: rem(75);
    height: rem(75);
    margin-bottom: rem(10);
  }

  h5 {
    text-transform: uppercase;
    color: $textColor;
    letter-spacing: 0.7px;
  }
}
