@use 'sass:math';
//reset
@import "./scss/placeholder";
@import "./scss/functions";
@import "./scss/variables";
* {
  margin-top: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
html,
body {
  @extend %h-100;
}
#root {
  @extend %d-flex;
  @extend %h-100;
  @extend %f-dc;
}

body {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  margin: 0 auto;
  text-align: left;
  line-height: 1.5;
}

.container {
  max-width: rem(1140);
  margin-inline: auto;

  @extend %w-100;
}
.row {
  margin-inline: rem(-15);
  @extend %d-flex;
  @extend %f-frw;
}
[class*="col-"],
.container {
  padding-inline: rem(15);
}
@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 math.div(100, math.div(12, $i)) * 1%;
    max-width: math.div(100, math.div(12, $i)) * 1%;
  }
}

//form scss
.form {
  &-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $textColor;
    background-color: $lightColor;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.btn {
  display: inline-block;
  font-weight: 600;
  line-height: 1.5;
  color: $textColor;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &-primary {
    background: $primaryColor;
    border-color: $accentColor;
    color: set-textcolor($primaryColor);
    &:hover {
      background: $accentColor;
      color: set-textcolor($accentColor);
    }
  }
  &-border {
    border: 1px solid transparent;
    color: $lightColor;
  }
  &-light {
    border-color: $lightColor;
  }
}

.list {
  &-inline {
    @extend %list-none;
    display: flex;
  }
}
.skipnav {
  background: transparent;
  color: $textColor;
  left: 0;
  padding: 0.5rem 1rem;
  position: absolute;
  top: -4.2rem;
  transition: all 0.2s ease-in-out;
  z-index: 7001;
  color: $lightColor;
  &:focus {
    background: $accentColor;
    left: 0;
    outline: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in-out;
  }
}

.block {
  padding: rem(50) 0;
}
