@use 'sass:math';
@import "variables";
@function rem($target) {
  @return math.div($target , 16) * 1rem;
}

@function set-textcolor($bg) {
  @if (lightness($bg) > 50) {
    @return $textColor;
  } @else {
    @return $lightColor;
  }
}
