@import "../../scss/variables";
@import "../../scss/functions";
@import "../../scss/placeholder";
.banner {
  background: linear-gradient(
    to bottom right,
    lighten($accentColor, 10%),
    lighten($primaryColor, 15%)
  );
  max-height: rem(500);
  height: rem(450);
  text-align: center;
  @extend %d-ajc;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
  }

  &__container {
    position: relative;
    @extend %fra;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;

    h4 {
      font-size: rem(20);
      margin-bottom: rem(20);
      color: #000;
    }

    h2 {
      font-size: rem(45);
      margin-bottom: rem(20);
      color: #000;
    }

    button {
      background: #000;
      color: $lightColor;
      border: none;
      padding: rem(10) rem(15);
      font-size: rem(15);
      font-weight: 600;
      cursor: pointer;
      text-transform: uppercase;
      transition: all 0.5s ease-in-out;

      &:hover {
        color: #000;
        background: transparent;
        border: 1px solid #000;
      }
    }
  }

  &__right {
    img {
      width: rem(400);
      object-fit: contain;
    }
  }
}
