@import "../../scss/variables";
@import "../../scss/functions";
@import "../../scss/placeholder";
.banner {

  &__container {
    position: relative;
  }
  max-height: rem(500);
  height: rem(450);
  color: #ffffff;
  text-align: center;
  @extend %d-ajc;
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(0 0 0 / 40%);
  }
  
  &__wrap {
    @extend %d-flex;
  }
  
  &__left {
    padding: 2rem 30px;
    padding-left: calc((100% - 1140px) / 2);
  }
  
  &__left,
  &__right {
    width: 50%;
  }

  &__right {
    img {
      width: 100%;
    }
  }
  
  &__title {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: rem(20);
  
    span {
      font-weight: 300;
      display: block;
    }
  
  }
  
  &__btn {
    padding: rem(10) rem(30);
  }
}
